body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.converter-block {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.converter-block:hover {
    background-color: #eee;
    cursor: pointer;
}

.converter-block h2 {
    margin-top: 0;
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}